<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>AdminTool - Log-In</title>
    <script src="js/lib/jquery-3.4.1.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/bootstrap.js"></script>
    <script src="js/lib/bootstrap.bundle.js"></script>
    <script src="js/components/navbar.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/UserController.js"></script>
    <script src="js/app/UserService.js"></script>
    <link rel="stylesheet" href="css/lib/bootstrap.css">
    <link rel="stylesheet" href="css/lib/bootstrap-grid.css">
    <link rel="stylesheet" href="css/lib/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/app/app.css">
</head>
<body ng-app="admintool">

    <navbar></navbar>
    <!-- Log-In Form -->
    <h1 style="text-align: center; padding: 30px;">Log-In</h1>
    <div class="container" ng-controller="UserController">
        <form method="post" id="loginForm">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" name="useremail" class="form-control" id="email" placeholder="example@domain.com" ng-model="userDto.email"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="userpassword" class="form-control" id="password" placeholder="Password.." ng-model="userDto.password"/>
            </div>
            <br>
            <input value="Log-In" type="button" class="btn btn-primary" ng-click="checkUser()">
            <br>
        </form>
        <br>
        <small class="text-muted">Not registred yet? Click <a href="/register">Here!</a></small>
    </div>
</body>
</html>