<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>AdminTool - Register</title>
    <script src="js/lib/jquery-3.4.1.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/bootstrap.js"></script>
    <script src="js/lib/bootstrap.bundle.js"></script>
    <script src="js/components/navbar.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/UserController.js"></script>
    <script src="js/app/UserService.js"></script>
    <link rel="stylesheet" href="css/lib/bootstrap.css">
    <link rel="stylesheet" href="css/lib/bootstrap-grid.css">
    <link rel="stylesheet" href="css/lib/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/app/app.css">
</head>
<body ng-app="admintool">
    <navbar></navbar>
    <!-- Register Form -->
    <h1 style="text-align: center; padding: 30px;">Register</h1>
    <div class="container" ng-controller="UserController">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username.." ng-model="userDto.username"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">E-Mail</label>
                    <input type="email" class="form-control" id="email" placeholder="example@domain.com" ng-model="userDto.email"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password1">Password</label>
                    <input type="password" class="form-control" id="password1" placeholder="Password.." ng-model="userDto.password"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="password2">Confirm Password</label>
                    <input type="password" class="form-control" id="password2" placeholder="Password.."/>
                </div>
            </div>
            <br>
            <input value="Register" type="button" class="btn btn-primary" ng-click="addUser()">
            <br>
            <br>
            <small class="form-text text-muted">Already registred? Click <a href="/login">Here!</a></small>
        </form>
    </div>
    <!-- ERROR ALERT -->
    <div id ="error-register" class="alert alert-danger alert-dismissible fade show" style="display: none">
        <strong>Error!</strong> Passwords do not match!
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <!-- WARNING ALERT -->
    <div id="warning-register" class="alert alert-warning alert-dismissible fade show" style="display: none;">
        <strong>Warning!</strong> Please fill all fields!
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
</body>
</html>